.paginaCa {
    height:90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-message1{
    color: red;
    position: relative;
    top: 10%;
}
.error-message2{
    color: red;
    position: relative;
    top: 15%;
}

.containerCA {
    background-color: #BBC1DC;
    width: 60%;
    height: 70%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    gap: 10%;
}

.dados {
    background-color: #9ca2c0;
    width: 80%;
    height: 70%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    gap: 20%;
}

.nomeCa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.nomei {
    width: 100%;
    border-radius: 10px;
    border: solid 1px #000;
    box-shadow: 2px 2px 10px #00000087;
}

.descricaoCa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50%;
}

.descricaoi {
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 10px;
    border: solid 1px #000;
    box-shadow: 2px 2px 10px #00000087;

}

.btnEnviar {
    background-color: #00A0A3;
    width: 30%;
    height: 10%;
    font-weight: bold;
    border: 0px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #00000087;

}

.btnEnviar:hover {
    background-color: #01696a;
}

.bntVoltar {
    background-color: #00A0A3;
    width: 10%;
    height: 5vh;
    font-weight: bold;
    display: block;
    position: fixed;
    right: 10%;
    bottom: 5%;
    border: 0px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #00000087;
}

.bntVoltar:hover {
    background-color: #01696a;
}