.paginaHo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    padding-top: 15px;
    background-color: #e8f1f3;
    min-height: 90vh;
}

.postHo {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #BBC1DC;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.nomeHo {
    text-align: center;
    background-color: #da9e9e;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
}

.descricaoHo {
    text-align: center;
    background-color: #ede4e2;
    border-radius: 20px;
    width: 70%;
    overflow-y: scroll
}

.btnSobe {
    background-color: transparent;
    position: fixed;
    right: 10%;
    bottom: 5%;
    border: 0px;
}