.paginaHo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    padding-top: 15px;
    background-color: #d2d5af;
    min-height: 90vh;
}

.postHo {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a3ab98;
    gap: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

@media screen and (max-width : 768px) {
    .postHo {
        width: 80%;
    }
}

.nomeHo {
    text-align: center;
    background-color: #60958b;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    width: 60%;
}

.descricaoHo {
    text-align: center;
    background-color: #bcbcbc;
    border-radius: 20px;
    padding: 10px;
    width: 70%;
}


.texto {
    width: 100%;
    white-space: pre-wrap;
    overflow-x: hidden;
    /* text-overflow: ellipsis; */
}

.data {
    width: 100%;
    margin-bottom: 3px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.btnSobe {
    background-color: transparent;
    position: fixed;
    right: 10%;
    bottom: 5%;
    border: 0px;
}