.paginaHo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    margin-top: 10px;
}

.postHo {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #BBC1DC;
    gap: 20px;
    padding: 20px;
    z-index: -1;
    margin-bottom: 20px;
    border-radius: 20px;
}

.nomeHo {
    text-align: center;
    background-color: #9ca2c0;
    border-radius: 20px;
    padding: 5px;
}

.descricaoHo {
    text-align: center;
    background-color: #c9cee3;
    border-radius: 20px;
    width: 70%;
    overflow-y: scroll
}

.btncadastrar {
    background-color: #00A0A3;
    width: 10%;
    height: 5vh;
    font-weight: bold;
    position: fixed;
    right: 10%;
    bottom: 5%;
    border: 0px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #00000087;
}
.btncadastrar:hover {
    background-color: #01696a;
}